<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

    <!-- Css -->
    <link rel="stylesheet" href="../css/styles.css">


    <!-- Link:
    https://www.airbnb.com.br/rooms/40363345?adults=1&category_tag=Tag%3A8102&children=0&enable_m3_private_room=true&infants=0&pets=0&photo_id=917183938&check_in=2024-06-01&check_out=2024-09-01&source_impression_id=p3_1715644094_ea%2B1lCo9tL0%2FL5FY&previous_page_section_name=1000&federated_search_id=4f7de2b1-387f-4315-b889-a0457900e2ba
    
    
    -->
</head>
<body>
     
     <div class="container">

        <header class="header">
            <h1>Cornelia Residence - 2BR Mountain View Suite B&B</h1>         
            <img src="../img/star.png" alt="icone de avalização" >
            <p>4,77 - Razlog - Blagoevgrad Province - Bulgária</p>
        </header>

        <section class="galeria">
            <img class="img-grande" src="../img/img1.png" alt="Vista da Hospedagem">
            <div class="quadro">
                <img src="../img/img2.png" alt="Hotel">
                <img src="../img/img3.png" alt="Area Spa">
            </div>
            <div class="quadro1">
                <img src="../img/img4.png" alt="Piscina">
                <img src="../img/img5.png" alt="Lazer">
            </div>
        </section>
    </div>

    <div class="Descricao">
        <h2>Descrição</h2>
        <h4>Delicie-se com Spa e Bem-estar no Apartamento Privado 1-BR em Boutique B&B Ski Resort. </h4>
        <h4> Desfrute de piscina de água mineral,banho turco, massagem, banheira de hidromassagem e restaurante.</h4>
    </div>

    <div class="Beneficios">
        <h3>O que esse lugar oferece:</h3>
        <img src="" alt="cama">
        <img src="" alt="wifi">
        <img src="" alt="piscina">
        <img src="" alt="vaga">
        <img src="" alt="televisão">
        <img src="" alt="animais">
    </div>

    <div class="card-valor">
        <h3>R$5.170 /mês</h3>
        <button>Buscar disponibilidade</button>
    </div>

</body>
</html>